*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    width: 80vw;
    margin: 60px auto;
    background-color: gainsboro;
    border-radius:10px ;
}

.container h1 {
    padding-top: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}


@media screen and (max-width:670px) {
    .container {
        width: 100%;
        background: none;
    }
    .container h1 {
        font-size: 30px;
        text-align: left;
        margin-left: 20px;
    }
    .container code {
        font-size: 10px;
    }
}