*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main .algorithms {
    width: 80vw;
    margin: 60px auto;
    padding: 40px 60px;
    border-radius: 10px;
}

main .algorithms h1 {
    padding-bottom: 5px;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}
main .algorithms .searching-algo {
    padding-bottom: 20px;
}

main .algorithms .searching-algo h3 {
    margin: 30px 0;
    font-weight: 300;
}

main .algorithms .algo-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

main .algorithms .algo-container a {
    text-decoration: none;
    color: initial;
}

main .algorithms .algo-container .algo {
    background-color: aliceblue;
    width: 200px;
    padding: 20px;
    margin: 20px 20px 0 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all ease;
}

main .algorithms .algo-container .algo:hover {
    opacity: 0.5;
}


main .algorithms .sorting-algo {
    padding-bottom: 20px;
}

main .algorithms .sorting-algo h3 {
    margin: 30px 0;
    font-weight: 300;
}